<%- include("../_partial/_header.ejs"); %>

<div class="container">
    <h1 class="top-title">Welcome to the details page for <%= place.name %>!</h1>
</div>

<%- include("../_partial/_footer.ejs"); %>

