<%- include("../_partial/_header.ejs"); %>

<div class="container">
    <h1 class="my-4">Welcome to the Vaca app!</h1>
</div>

<!-- TODO: view travel locations/albums added by other people -->

<%- include("../_partial/_footer.ejs"); %>