<%- include('../_partial/_header'); %>

<div class="container">
    <h3 class="my-4">Sign Up</h3>
    <div class="card" style="padding:1.5rem; max-width:780px">
        <form action="/signup" method="POST" >
            <div class="row mb-3">
                <label for="inputUsername" class="col-sm-2 col-form-label">Username</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="inputUsername"
                           placeholder="johndoe123" name="username" required>
                </div>
            </div>
            <div class="row mb-3">
                <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-9">
                    <input type="email" class="form-control" id="inputEmail"
                           placeholder="johndoe@deer.com" name="email" required>
                </div>
            </div>
            <div class="row mb-3">
                <label for="inputPass" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-9">
                    <input type="password" class="form-control" id="inputPass"
                           placeholder="Password" name="password" required>
                </div>
            </div>
            <div class="row mb-3">
                <label for="inputConfPass" class="col-sm-2 col-form-label">Re-Password</label>
                <div class="col-sm-9">
                    <input type="password" class="form-control" id="inputConfPass"
                           placeholder="Re-Password" name="repassword" required>
                </div>
            </div>
            <button type="submit" class="btn btn-outline-success">Sign Up</button>
        </form>
    </div>
</div>

<%- include('../_partial/_footer'); %>